* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
}
@media screen and (max-width: 830px) {
  .container {
    flex-flow: column;
  }
}

.left {
  width: 270px;
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
}
@media screen and (min-width: 830px) {
  .left{
    min-height: 100vh;
  }
}
@media screen and (max-width: 830px) {
  .left{
    width: 100%;
    height: fit-content;
    padding-bottom: 20px;
  }
}

.right {
  background-color: rgb(228, 228, 228);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 830px) {
  .right{
    flex-grow: 1;
    padding: 70px 30px;
    overflow-y: scroll;
    min-height: 100vh;
  }
}
@media screen and (max-width: 830px) {
  .right {
    flex-grow: 1;
    width: 100%;
    min-height: 400px;
  }
}

.myId {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}
@media screen and (min-width: 830px) {
  .myId {
    padding: 40px 0;
  }
}
@media screen and (max-width: 830px) {
  .myId {
    padding: 10px 0;
  }
}

.myId > div:nth-child(1) {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 3px;
}

.myId > div:nth-child(1) > img {
  width: 100%;
  height: 100%;
}

.myId > span > h2 {
  font-size: 24px;
}
.myId > div:nth-child(3) {
  height: 50px;
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

.myId > div:nth-child(3) > img {
  width: fit-content;
  height: 100%;
}

@media screen and (min-width: 830px) {
  .myId > div:nth-child(3) > img {
    display: none
  }
}

.line {
  width: 90%;
  height: 1px;
  background-color: darkolivegreen;
}

@media screen and (min-width: 830px) {
  .active {
    display: block;
  }
}

@media screen and (max-width: 830px) {
  .active {
    display: none;
  }
}

.left> div > h3 {
  font-size: 30px;
  width: 100%;
  padding: 20px 10px;
}

.left > div > ul {
  width: 100%;
  list-style: none;
  font-size: 18px;
  padding: 0 20px;
  display: flex;
}
@media screen and (min-width: 830px) {
  .left > div > ul {
    flex-flow: column;
  }
}
@media screen and (max-width: 830px) {
  .left > div > ul {
    flex-flow: row;
    flex-wrap: wrap;
  }
}

.left > div > ul > li {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 30px;
}
@media screen and (max-width: 830px) {
  .left > div > ul > li {
    width: 50%; 
  }
}

.colorRed {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: crimson;
}
.colorYellow {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: yellow;
}

.colorGreen {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: forestgreen;
}
.colorEmpty {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid;
}

.right h1 {
  padding: 20px;
}

.right > div > div#inputBox {
  height: 80px;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: auto;
}
@media screen and (min-width: 830px) {
  .right > div > div#inputBox {
    width: 450px;
  }
}
@media screen and (max-width: 830px) {
  .right > div > div#inputBox {
    width: 100%;
  }
}

.right > div > div#inputBox > div {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 5px;
}

.right > div > div#inputBox > input {
  border: 0;
  width: 100%;
  height: 40px;
  padding: 5px;
}

.right > div > div#inputBox > input:focus {
  outline: 0;
}

.right > div > div#inputBox > span {
  width: 100px;
  height: 40px;
  background-color: darkorange;
  cursor: pointer;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-item {
  height: 60px;
  background-color: white;
  margin: 5px 0;
  list-style: none;
  border-radius: 15px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (min-width: 830px) {
  .todo-item {
    width: 450px;
  }
}
@media screen and (max-width: 830px) {
  .todo-item {
    width: 100%;
  }
}

.todo-item div.boxOfInput {
  flex-grow: 1;
}
.todo-item input {
  border: 0;
  outline: none;
  width: 100%;
  background-color: white;
}
.action-items {
  display: flex;
}
.todo-item i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.todo-item img {
  width: 100%;
  height: 100%;
}

.todo-item button:hover {
  color: black;
}
.done {
  text-decoration: line-through;
}

.editbtn {
  background-color: orange;
}

.deletebtn {
  background-color: crimson;
}

.markbtn {
  background-color: darkseagreen;
}

.okbtn {
  background-color: black;
}
